  <div class="article-main">
	<img alt="" src="{{img}}">
	<div class="contact">
	  <img alt="" src="{{img}}">
	  <p>
		name
	  </p>
	</div>
	<span class="comments-counter"><a ng-href="#article-news">6 comments</a></span>
	<div class="clr">
	</div>
  </div>
  <div class="container">
	<h4 class="article-header">
	 text here
	</h4>
	<p class="text">
	  text here
	</p>
	<div class="highlight">
	  <p>
		text here
	  </p>
	  <span class="little-text light-text">name - <em>name</em></span>
	</div>
	<p class="text">
	  text here
	</p>
	<img alt="" src="{{img}}">
	<p class="text">
	  text here
	</p>
  </div>
  <div class="container" id="comments">
	<p>
	  Comments (6)
	</p>
	<ul class="comments collection">
	  <li class="collection-item avatar">
		<img alt="" class="circle" src="{{img}}">
		<p class="title">
		  name
		</p>
		<span class="date">time</span>
		<p class="text">
		  text here
		</p>
	  </li>
	  <li class="collection-item avatar reply">
		<img alt="" class="circle" src="{{img}}">
		<p class="title">
		  name
		</p>
		<p>
		  <span class="date">time</span>
		</p>
		<p class="text">
		 text here
		</p>
	  </li>
	  <li class="collection-item avatar">
		<img alt="" class="circle" src="{{img}}">
		<p class="title">
		  name
		</p>
		<span class="date">time</span>
		<p class="text">
		  text here
		</p>
	  </li>
	  <li class="collection-item avatar reply">
		<img alt="" class="circle" src="{{img}}">
		<p class="title">
		  name
		</p>
		<span class="date">time</span>
		<p class="text">
		  text here
		</p>
	  </li>
	  <li class="collection-item avatar reply">
		<img alt="" class="circle" src="{{img}}">
		<p class="title">
		  name
		</p>
		<span class="date">time</span>
		<p class="text">
		  text here
		</p>
	  </li>
	</ul>
  </div>