<div class="container">
	<div class="single-blog bg-10">
	  <div class="blog-preview white">
		<span class="blog-date">date</span> <a ng-href="#article"></a>
		<h3 class="blog-title">
		  <a ng-href="#article">article</a>
		</h3>
		<a ng-href="#article">
		  <p class="blog-content">
			text here
		  </p>
		</a>
		<a href="profile.html"></a>
		<div class="contact">
		  <img alt="" src="{{img}}"> <span>name</span>
		</div>
	  </div>
	</div>

	<div class="single-blog bg-8">
	  <div class="blog-preview white">
		<span class="blog-date">date</span> <a ng-href="#article"></a>
		<h3 class="blog-title">
		  <a ng-href="#article">article</a>
		</h3>
		<a ng-href="#article"></a> <a ng-href="#article"></a>
		<p class="blog-content">
		  text here
		</p>
		<a href="profile.html"></a>
		<div class="contact">
		  <img alt="" src="{{img}}"> <span>name</span>
		</div>
	  </div>
	</div>

	<div class="single-blog bg-5">
	  <div class="blog-preview white">
		<span class="blog-date">date</span> <a ng-href="#article"></a>
		<h3 class="blog-title">
		  <a ng-href="#article">article</a>
		</h3>
		<a ng-href="#article"></a> <a ng-href="#article"></a>
		<p class="blog-content">
		  text here
		</p>
		<a href="profile.html"></a>
		<div class="contact">
		  <img alt="" src="{{img}}"> <span>name</span>
		</div>
	  </div>
	</div>

	<div class="single-blog bg-2">
	  <div class="blog-preview white">
		<span class="blog-date">date</span> <a ng-href="#article"></a>
		<h3 class="blog-title">
		  <a ng-href="#article">article</a>
		</h3>
		<a ng-href="#article"></a> <a ng-href="#article"></a>
		<p class="blog-content">
		  text here
		</p>
		<a href="profile.html"></a>
		<div class="contact">
		  <img alt="" src="{{img}}"> <span>name</span>
		</div>
	  </div>
	</div>
  </div>

  
