<div class="container">
	<div class="row">
	  <div class="col s12">
		<div class="chat">
		  <ul>
			<li class="message-right">
			  <img alt="" src="{{img}}">
			  <div class="message">
				<p>
				  text here
				</p>
				<span>time here</span>
			  </div>
			  <span>time seen</span>
			</li>

			<li class="message-left">
			  <img alt="" src="{{img}}">
			  <div class="message">
				<p>
				  text here
				</p>
				<span>time here</span>
			  </div>
			  <div class="message">
				<img alt="" src="{{img}}"> <span>time here</span>
			  </div>
			</li>

			<li class="message-right">
			  <img alt="" src="{{img}}">
			  <div class="message">
				<p>
				  text here
				</p>
				<span>time here</span>
			  </div>
			  <span>time seen4</span>
			</li>

			<li class="message-left">
			  <img alt="" src="{{img}}">
			  <div class="message">
				<p>
				  text here
				</p>
				<span>time here</span>
			  </div>
			</li>

			<li class="message-right">
			  <img alt="" src="{{img}}">
			  <div class="message">
				<p>
				  text here
				</p>
				<div class="photo-add">
				  <div class="square-user bg-5"></div>
				  <div class="square-user bg-10"></div>
				  <div class="square-user bg-6"></div>
				  <div class="clr">
				  </div>
				</div>
				<span>time here</span>
			  </div>
			</li>

			<li class="message-right">
			  <img alt="" src="{{img}}">
			  <div class="message">
				<p>
				  text here
				</p>
				<span>time here</span>
			  </div>
			  <span>time seen</span>
			</li>

			<li class="message-left">
			  <img alt="" src="{{img}}">
			  <div class="message">
				<p>
				  text here
				</p>
				<span>time here</span>
			  </div>
			</li>

			<li class="message-left">
			  <img alt="" src="{{img}}">
			  <div class="message">
				<p>
				  text here
				</p>
				<span>time here</span>
			  </div>
			</li>

			<li class="message-left">
			  <img alt="" src="{{img}}">
			  <div class="message">
				<p>
				  text here
				</p>
				<span>time here</span>
			  </div>
			</li>

			<li class="message-right">
			  <img alt="" src="{{img}}">
			  <div class="message">
				<p>
				 text here
				</p>
				<span>time here</span>
			  </div>
			  <span>time seen</span>
			</li>
		  </ul>
		</div>
	  </div>
	</div>
  </div>