<div class="snap-drawer snap-drawer-left">
  <div class="drawer-inner">
	<ul>
	  <li><a ng-href="#index"><i class="mdi mdi-biohazard"></i> <span>Home</span></a></li>
	  <li><a ng-href="#profile"><i class="mdi mdi-account"></i> <span>Profile</span></a></li>
	  <li><a ng-href="#portfolio"><i class="mdi mdi-codepen"></i> <span>Portfolio</span></a></li>
	  <li><a ng-href="#blog"><i class="mdi mdi-book-multiple-variant"></i> <span>Blog</span></a></li>
	  <li><a ng-href="#news"><i class="mdi mdi-rss"></i> <span>News</span></a></li>
	  <li><a ng-href="#timeline"><i class="mdi mdi-timelapse"></i> <span>Timeline</span></a></li>
	  <li><a ng-href="#messages"><i class="mdi mdi-bell"></i> <span>Messages</span></a></li>
	  <li><a ng-href="#todo"><i class="mdi mdi-checkbox-marked-outline"></i> <span>ToDo</span></a></li>
	  <li><a ng-href="#login"><i class="mdi mdi-account-circle"></i> <span>Login</span></a></li>
	  <li><a ng-href="#signup"><i class="mdi mdi-account-plus"></i> <span>Create Account</span></a></li>
	</ul>
	<ul class="exit">
	  <li>
		<a ng-href="#login"><i class="mdi mdi-exit-to-app"></i> <span>Logout</span></a>
	  </li>
	</ul>
  </div>
</div>