<div class="container">
<div class="input-field col s12">
  <i class="mdi mdi-account-circle prefix"></i> 
	<input class="validate" id="signup-name" type="text"> 
	<label for="signup-name">Username</label>
</div>

<div class="input-field col s12">
  <i class="mdi mdi-lock prefix"></i> 
	<input class="validate" id="signup-psw" type="password"> 
	<label for="signup-psw">Password</label>
</div>
<a class="waves-effect waves-light btn-large primary-color fullwidth" ng-href="#index">Create Account</a> 
<span>lost your password? <a class="primary-color-text" ng-href="#login"> contact us</a></span>
</div>