<div class="modal bottom-sheet features" id="modal1">
<div class="modal-content">
<div class="row">
  <div class="col s3">
	<a href="profile.html"><i class="close-opacity mdi mdi-account"></i></a>
	<p>
	  About
	</p>
  </div>
  <div class="col s3">
	<a href="portfolio.html"><i class="mdi mdi-file-image-box"></i></a>
	<p>
	  Photos
	</p>
  </div>
  <div class="col s3">
	<a href="blog.html"><i class="mdi mdi-book-multiple-variant"></i></a>
	<p>
	  Blog
	</p>
  </div>
  <div class="col s3">
	<a href="news.html"><i class="mdi mdi-rss"></i></a>
	<p>
	  News
	</p>
  </div>
</div>
<div class="row">
  <div class="col s3">
	<a href="timeline.html"><i class="mdi mdi-timelapse"></i></a>
	<p>
	  Timeline
	</p>
  </div>
  <div class="col s3">
	<a href="messages.html"><i class="mdi mdi-bell"></i></a>
	<p>
	  Chat
	</p>
  </div>
  <div class="col s3">
	<a href="todo.html"><i class="mdi mdi-checkbox-marked-outline"></i></a>
	<p>
	  To Do
	</p>
  </div>
  <div class="col s3">
	<a href="login.html"><i class="mdi mdi-account-plus"></i></a>
	<p>
	  Account
	</p>
  </div>
</div>
</div>
</div>
