
  <div class="container">
	<div class="row">
	  <div class="col s12">
		<div class="contact">
		  <a ng-href="#chat">
			<img alt="" src="{{img}}">
			<span class="dot green"></span>
			<p>
			  name here <i class="mdi mdi-attachment"></i>
			</p>
			<span>info here</span>  
			<span class="time">now</span> 
		  </a>
		</div>

		<div class="contact">
		  <a ng-href="#chat">
			<img alt="" src="{{img}}">
			<span class="dot amber"></span>
			<p>
			  name here
			</p>
			<span>info here</span>  
			<span class="time">now</span> 
		  </a>
		</div>

		<div class="contact">
		  <a ng-href="#chat">
			<img alt="" src="{{img}}">
			<span class="dot amber"></span>
			<p>
			  name here
			</p>
			<span>info here</span>  
			<span class="time">now</span>  
		  </a>
		</div>

		<div class="contact">
		  <a ng-href="#chat">
			<img alt="" src="{{img}}">
			<span class="dot green"></span>
			<p>
			  name here
			</p>
			<span>info here</span>  
			<span class="time">now</span> 
		  </a>
		</div>

		<div class="contact">
		  <a ng-href="#chat">
			<img alt="" src="{{img}}">
			<p>
			  name here
			</p>
			<span>info here</span>  
			<span class="time">now</span> 
		  </a>
		</div>

		<div class="contact">
		  <a ng-href="#chat">
			<img alt="" src="{{img}}">
			<p>
			  name here
			</p>
			<span>info here</span>  
			<span class="time">now</span> 
		  </a>
		</div>

		<div class="contact">
		  <a ng-href="#chat">
			<img alt="" src="{{img}}">
			<span class="dot amber"></span>
			<p>
			  name here
			</p>
			<span>info here</span>  
			<span class="time">now</span> 
		  </a>
		</div>

		<div class="contact">
		  <a ng-href="#chat">
			<img alt="" src="{{img}}">
			<span class="dot amber"></span>
			<p>
			  name here
			</p>
			<span>info here</span>  
			<span class="time">now</span> 
		  </a>
		</div>

		<div class="contact">
		  <a ng-href="#chat">
			<img alt="" src="{{img}}">
			<p>
			  name here
			</p>
			<span>info here</span>  
			<span class="time">now</span> 
		  </a>
		</div>

		<div class="contact">
		  <a ng-href="#chat">
			<img alt="" src="{{img}}">
			<span class="dot primary-color"></span>
			<p>
			  name here
			</p>
			<span>info here</span>  
			<span class="time">now</span>  
		  </a>
		</div>
	  </div>
	</div>
  </div>
  
  