<div class="news-main">
	<img alt="" src="{{img}}"> 
	<a ng-href="#article-news">
	  <div class="overlay-gradient">
	  </div>
	</a>
	
	<div class="top-news">
	  <h4 class="top-news-title">
		<a ng-href="#article-news">text here</a>
	  </h4>
	  <span class="top-news-channel">from here - time here</span> <span class="top-news-category">topic</span>
	  <div class="clr">
	  </div>
	</div>
  </div>

  <div>
	<div class="single-news">
	  <h4 class="single-news-title">
		<a ng-href="#article-news">text here</a>
	  </h4>
	  <span class="single-news-channel">from here - time here</span> <span class="single-news-category">topic</span>
	  <div class="clr">
	  </div>
	</div>

	<div class="single-news">
	  <h4 class="single-news-title">
		<a ng-href="#article-news">text here</a>
	  </h4>
	  <span class="single-news-channel">from here - time here</span> <span class="single-news-category">topic</span>
	  <div class="clr">
	  </div>
	</div>

	<div class="single-news">
	  <h4 class="single-news-title">
		<a ng-href="#article-news">text here</a>
	  </h4>
	  <span class="single-news-channel">from here - time here</span> <span class="single-news-category">topic</span>
	  <div class="clr">
	  </div>
	</div>

	<div class="single-news">
	  <h4 class="single-news-title">
		<a ng-href="#article-news">text here</a>
	  </h4>
	  <span class="single-news-channel">from here - time here</span> <span class="single-news-category">topic</span>
	  <div class="clr">
	  </div>
	</div>

	<div class="single-news">
	  <h4 class="single-news-title">
		<a ng-href="#article-news">text here</a>
	  </h4>
	  <span class="single-news-channel">from here - time here</span> <span class="single-news-category">topic</span>
	  <div class="clr">
	  </div>
	</div>

	<div class="single-news">
	  <h4 class="single-news-title">
		<a ng-href="#article-news">text here</a>
	  </h4>
	  <span class="single-news-channel">from here - time here</span> <span class="single-news-category">topic</span>
	  <div class="clr">
	  </div>
	</div>
  </div>
  
  