<div class="profile-header">
	<img alt="" src="{{img}}">
	<div class="contact profile-user">
	  <img alt="" src="{{img}}">
	  <h4 class="white-text">
		name here
	  </h4>
	  <p class="white-text">
		text here
	  </p>
	  <a class="waves-effect waves-light btn-flat primary-color white-text" ng-href="#profile">Follow</a>
	</div>
  </div>

  <div class="container">
	<div class="social-counter">
	  <i class="mdi mdi-twitter"></i><br>
	  0<br>
	  <span>Follower</span>
	</div>

	<div class="social-counter last">
	  <i class="mdi mdi-facebook"></i><br>
	  0<br>
	  <span>Like</span>
	</div>

	<div class="social-counter last">
	  <i class="mdi mdi-pinterest"></i><br>
	  0<br>
	  <span>Pin</span>
	</div>

	<div class="profile-description">
	  <h4 class="paragraph-title">
		ABOUT
	  </h4>

	  <p>
		text here
	  </p>
	</div>

	<div class="photo-preview">
	  <img alt="" src="{{img}}"> <img alt="" src="{{img}}"> <img alt="" src="{{img}}">
	  <div class="box valign-wrapper">
		<div class="valign">
		  <a ng-href="#portfolio">+28<br>
		  <span>Friends</span></a>
		</div>
	  </div>
	  <div class="clr">
	  </div>
	</div>

	<div class="profile-description">
	  <h4 class="paragraph-title">
		ACTIVITY
	  </h4>
	  <div class="timeline">
		<div class="row">
		  <div class="col s12">
			<div class="contact">
			  <img alt="" src="{{img}}">
			  <div class="dot border-coral">
			  </div>
			  <p>
				name here <i class="mdi mdi-attachment"></i>
			  </p>
			  <span>text here</span>
			</div>

			<div class="contact">
			  <span class="date">time</span>
			  <div class="dot border-sea">
			  </div>
			  <p>
				name here
			  </p>
			  <span>text here</span>
			</div>

			<div class="contact">
			  <span class="date">time</span>
			  <div class="dot border-orange">
			  </div>
			  <p>
				name here
			  </p>
			  <div class="friends">
				<img alt="" class="circle" src="{{img}}"> 
				<img alt="" class="circle" src="{{img}}"> 
				<img alt="" class="circle" src="{{img}}"> 
			  </div>
			</div>

			<div class="contact">
			  <span class="date">time</span>
			  <div class="dot border-green">
			  </div>
			  <p>
				name here
			  </p>
			  <span>text here</span>
			</div>

			<div class="contact">
			  <img alt="" src="{{img}}">
			  <div class="dot border-coral">
			  </div>
			  <p>
				name here
			  </p>
			  <span>text here</span>
			</div>

			<div class="contact">
			  <span class="date">time</span>
			  <div class="dot border-sea">
			  </div>
			  <p>
				name here
			  </p>
			  <span>text here</span>
			</div>

			<div class="contact">
			  <span class="date">time</span>
			  <div class="dot border-green">
			  </div>
			  <p>
				text here
			  </p>
			  <div class="friends">
				<img alt="" class="circle" src="{{img}}"> <img alt="" class="circle" src="{{img}}"> <img alt="" class="circle" src="{{img}}">
			  </div>
			</div>

			<div class="contact">
			  <span class="date">time</span>
			  <div class="dot border-coral">
			  </div>
			  <p>
				name here <i class="mdi mdi-attachment"></i>
			  </p>
			  <span>text here</span>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>