<div class="relative">
	<img alt="" src="{{img}}">
	<div class="overlay-gradient">
	</div>
	<div class="scene_element share scene_element--fadein scene_element--delayed">
	  <a class="btn-floating btn-large waves-effect waves-light primary-color btn z-depth-1" href="project.html#"><i class="mdi mdi-star"></i></a>
	</div>
  </div>

  <div class="container padding-top-0">
	<div class="contact">
	  <img alt="" src="{{img}}">
	  <p>
		Life in the City
	  </p>
	  <span><em>Camilla Davis</em></span>
	</div>

	<div class="highlight">
	  <p>
		"The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog."
	  </p>
	  <span class="little-text light-text">Mark Tobbers - <em>Fox Hunter</em></span>
	</div>

	<p class="text">
	  A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this
	  spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents. A
	  wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this
	  spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
	</p>
  </div>

  