<div class="snap-drawer snap-drawer-right">
  <div class="drawer-inner">
	<ul>
	  <li><a ng-href="#badges"><i class="mdi mdi-xml"></i> <span>badges</span></a></li>
	  <li><a ng-href="#buttons"><i class="mdi mdi-xml"></i> <span>buttons</span></a></li>
	  <li><a ng-href="#breadcrumbs"><i class="mdi mdi-xml"></i> <span>breadcrumbs</span></a></li>
	  <li><a ng-href="#cards"><i class="mdi mdi-xml"></i> <span>Account cards</span></a></li>
	  <li><a ng-href="#chips"><i class="mdi mdi-xml"></i> <span>chips</span></a></li>
	  <li><a ng-href="#collections"><i class="mdi mdi-xml"></i> <span>collections</span></a></li>
	  <li><a ng-href="#footer"><i class="mdi mdi-xml"></i> <span>footer</span></a></li>
	  <li><a ng-href="#forms"><i class="mdi mdi-xml"></i> <span>forms</span></a></li>
	  <li><a ng-href="#icons"><i class="mdi mdi-xml"></i> <span>icons</span></a></li>
	  <li><a ng-href="#navbar"><i class="mdi mdi-xml"></i> <span>navbar</span></a></li>
	  <li><a ng-href="#pagination"><i class="mdi mdi-xml"></i> <span>pagination</span></a></li>
	  <li><a ng-href="#preloader"><i class="mdi mdi-xml"></i> <span>preloader</span></a></li>
	</ul>
  </div>
</div>
