<div class="page-header bg-4">
	<h2 class="white-text">
	  Timeline
	</h2>
	<p class="white-text">
	  date
	</p>
	<div class="overlay-gradient">
	</div>
  </div>

  <div class="container timeline">
	<div class="row">
	  <div class="col s12">
		<div class="contact">
		  <img alt="" src="{{img}}">
		  <div class="dot border-coral">
		  </div>
		  <p>
			name <i class="mdi mdi-attachment"></i>
		  </p>
		  <span>message</span>
		</div>

		<div class="contact">
		  <span class="date">time</span>
		  <div class="dot border-sea">
		  </div>
		  <p>
			name
		  </p>
		  <span>messagespan>
		</div>

		<div class="contact">
		  <span class="date">time</span>
		  <div class="dot border-orange">
		  </div>
		  <p>
			name
		  </p>
		  <div class="friends">
			<img alt="" class="circle" src="{{img}}"> 
			<img alt="" class="circle" src="{{img}}"> 
			<img alt="" class="circle" src="{{img}}">
		  </div>
		</div>

		<div class="contact">
		  <span class="date">time</span>
		  <div class="dot border-green">
		  </div>
		  <p>
			name
		  </p>
		  <span>message</span>
		</div>

		<div class="contact">
		  <img alt="" src="{{img}}">
		  <div class="dot border-coral">
		  </div>
		  <p>
			name
		  </p>
		  <span>message</span>
		</div>

		<div class="contact">
		  <span class="date">time</span>
		  <div class="dot border-sea">
		  </div>
		  <p>
			name
		  </p>
		  <span>message</span>
		</div>

		<div class="contact">
		  <span class="date">time</span>
		  <div class="dot border-green">
		  </div>
		  <p>
			name
		  </p>
		  <div class="friends">
			<img alt="" class="circle" src="{{img}}"> <img alt="" class="circle" src="{{img}}"> <img alt="" class="circle" src="{{img}}">
		  </div>
		</div>

		<div class="contact">
		  <span class="date">time</span>
		  <div class="dot border-coral">
		  </div>
		  <p>
			name<i class="mdi mdi-attachment"></i>
		  </p>
		  <span>message</span>
		</div>
	  </div>
	</div>
  </div>

  