<div class="page-header bg-8">
	<div class="overlay-gradient">
	</div>
	<h2 class="white-text">
	  The month
	</h2>
	<ul class="tabs">
	  <li class="tab col s6">
		<a class="active" ng-href="{{jsv}}">Month</a>
	  </li>
	  <li class="tab col s6">
		<a ng-href="{{jsv}}">Week</a>
	  </li>
	  <li class="tab col s6">
		<a ng-href="{{jsv}}">Day</a>
	  </li>
	</ul>
	<div class="scene_element center-align scene_element--fadein scene_element--delayed add-event">
	  <a class="btn-floating btn-large waves-effect waves-light primary-color btn modal-trigger z-depth-1" ng-href="{{jsv}}">
	  <i class="mdi mdi-plus"></i></a>
	</div>
  </div>

  <div class="col s12 todo" id="test1">
	<p class="todo-element border-left-coral">
	  <input id="todo1" type="checkbox"> <label for="todo1">info here</label> <span>00:00 AM</span>
	</p>

	<p class="todo-element border-left-sea">
	  <input checked id="todo2" type="checkbox"> <label for="todo2">info here</label> <img alt="" src="{{img}}"> <span>00:00 AM</span>
	</p>

	<p class="todo-element border-left-orange">
	  <input id="todo3" type="checkbox"> <label for="todo3">info here</label> <span>00:00 AM</span> <img alt="" src="{{img}}">
	</p>

	<p class="todo-element border-left-green">
	  <input id="todo4" type="checkbox"> <label for="todo4">info here</label> <span>00:00 AM</span>
	</p>

	<p class="todo-element border-left-coral">
	  <input id="todo5" type="checkbox"> <label for="todo5">info here</label> <span>00:00 AM</span> <img alt="" src="{{img}}">
	</p>

	<p class="todo-element border-left-sea">
	  <input id="todo6" type="checkbox"> <label for="todo6">info here</label> <span>00:00 AM</span>
	</p>

	<p class="todo-element border-left-sea">
	  <input checked id="todo7" type="checkbox"> <label for="todo7">info here</label> <img alt="" src="{{img}}"> <span>00:00 AM</span>
	</p>

	<p class="todo-element border-left-orange">
	  <input id="todo8" type="checkbox"> <label for="todo8">info here</label> <span>00:00 AM</span> <img alt="" src="{{img}}">
	</p>
  </div>

  <div class="col s12 todo timeline" id="test2">
	<div class="container">
	  <div class="row">
		<div class="col s12">
		  <div class="contact">
			<img alt="" src="{{img}}">
			<div class="dot border-coral">
			</div>
			<p>
			  name here
			</p>
			<span>info here</span>
		  </div>

		  <div class="contact">
			<span class="date">time</span>
			<div class="dot border-sea">
			</div>
			<p>
			  name here
			</p>
			<span>info here</span>
		  </div>

		  <div class="contact">
			<span class="date">time</span>
			<div class="dot border-orange">
			</div>
			<p>
			  name here
			</p>
			<div class="friends">
			  <img alt="" class="circle" src="{{img}}"> <img alt="" class="circle" src="{{img}}"> <img alt="" class="circle" src="{{img}}">
			</div>
		  </div>

		  <div class="contact">
			<span class="date">time</span>
			<div class="dot border-green">
			</div>
			<p>
			  name here
			</p>
			<span>info here</span>
		  </div>

		  <div class="contact">
			<img alt="" src="{{img}}">
			<div class="dot border-coral">
			</div>
			<p>
			  name here
			</p>
			<span>info here</span>
		  </div>

		  <div class="contact">
			<span class="date">time</span>
			<div class="dot border-sea">
			</div>
			<p>
			  name here
			</p>
			<span>info here</span>
		  </div>

		  <div class="contact">
			<span class="date">time</span>
			<div class="dot border-green">
			</div>
			<p>
			  name here
			</p>
			<div class="friends">
			  <img alt="" class="circle" src="{{img}}"> <img alt="" class="circle" src="{{img}}"> <img alt="" class="circle" src="{{img}}">
			</div>
		  </div>

		  <div class="contact">
			<span class="date">time</span>
			<div class="dot border-coral">
			</div>
			<p>
			  name here
			</p>
			<span>info here</span>
		  </div>
		</div>
	  </div>
	</div>
  </div>

  <div class="col s12 todo timeline" id="test2">
	<div class="container">
	  <div class="row">
		<div class="col s12">
		  <div class="contact">
			<img alt="" src="{{img}}">
			<div class="dot border-coral">
			</div>
			<p>
			  name here
			</p>
			<span>info here</span>
		  </div>

		  <div class="contact">
			<span class="date">time</span>
			<div class="dot border-sea">
			</div>
			<p>
			  name here
			</p>
			<span>info here</span>
		  </div>

		  <div class="contact">
			<span class="date">time</span>
			<div class="dot border-orange">
			</div>
			<p>
			  name here
			</p>
			<div class="friends">
			  <img alt="" class="circle" src="{{img}}"> <img alt="" class="circle" src="{{img}}"> <img alt="" class="circle" src="{{img}}">
			</div>
		  </div>

		  <div class="contact">
			<span class="date">time</span>
			<div class="dot border-green">
			</div>
			<p>
			  name here
			</p>
			<span>info here</span>
		  </div>

		  <div class="contact">
			<img alt="" src="{{img}}">
			<div class="dot border-coral">
			</div>
			<p>
			  name here
			</p>
			<span>info here</span>
		  </div>

		  <div class="contact">
			<span class="date">time</span>
			<div class="dot border-sea">
			</div>
			<p>
			  name here
			</p>
			<span>info here</span>
		  </div>

		  <div class="contact">
			<span class="date">time</span>
			<div class="dot border-green">
			</div>
			<p>
			  name here
			</p>
			<div class="friends">
			  <img alt="" class="circle" src="{{img}}"> <img alt="" class="circle" src="{{img}}"> <img alt="" class="circle" src="{{img}}">
			</div>
		  </div>

		  <div class="contact">
			<span class="date">time</span>
			<div class="dot border-coral">
			</div>
			<p>
			  name here
			</p>
			<span>info here</span>
		  </div>
		</div>
	  </div>
	</div>
  </div>